/* SECTION NAVIGATION */
.section-navigation-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin: 50px 0px 10px;
}
.section-navigation-title {
    font-size: 30px;
    font-weight: 700;
}
.section-navigation-links-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.section-navigation-link {
    font-size: 14px;
}
.vertical-divider {
    margin: 0px 10px;
}