.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

/* NAVBAR */
.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar-logo {
    height: 40px;
}
.navbar-searchfield-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px rgba(40, 40, 40, .2);
    padding: 5px;
}
.navbar-searchfield-input {
    margin-left: 10px;
    padding-left: 5px;
    width: 250px;
    border-style: none;
    outline: none;
}
.navbar-icon {
    height: 26px;
}
.navbar-button {
    cursor: pointer;
    font-size: 16px;
}