/* FORM */
.section-form {
    margin: 20px 0px;
    background-color: transparent;
}
.form-input-container {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid #555555;
    width: 250px;
}
.form-input-icon {
    height: 20px;
}
.form-input {
    margin-left: 8px;
    height: 30px;
    width: 200px;
    border: none;
    outline: none;
}
